<div class="container">
    <div>
      <div *ngFor='let quotes of quotes ; let i=index'>
          <p>{{quotes.quote}}</p>
          <button (click)='toggleDetails(i)' class="btn btn-outline-secondary">More details </button><br><br>
          <app-quote-detail *ngIf='quotes.showQuote' [quotes]='quotes' (isComplete)= 'deleteQuotes($event, i)'>ttt</app-quote-detail>
        </div>
      <div>
          <app-quote-form></app-quote-form>
      </div>
   
    <p *ngIf = 'quotes.length > 6'></p>
  </div>
  </div>
